* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*Primarios*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /*Categorías*/
    --light-red: hsl(0, 100%, 67%);
    --lighter-red: hsla(0, 100%, 67%, 0.1);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow-light: hsla(39, 100%, 56%, 0.1);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-light: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-light: hsla(234, 85%, 45%, 0.1);

    /*Gradients*/
    /*background*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    /*circle*/
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0.1);
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.score-section {
    border-radius: 28px;
    justify-content: space-around;
    width: 26%;
    padding: 25px 0;
    height: 490px;
}

.score {
    height: 184px;
    width: 184px;
}

.score-breakdown {
    padding: 20px;
    border: var(--pale-blue) 1px solid;
    width: 32%;
    box-shadow: 10px 14px 20px 0px rgb(18 12 12 / 9%);
    border-radius: 0 24px 24px 0;
}

